:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4fbff;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #7effa7;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  font-weight: 700;
  font-size: 1.5rem;
}

.atras-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  transition: color 0.2s;
}

.atras-btn:hover {
  color: #1109ff;
}

.buscador-btn {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
}

.buscador-btn input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  min-width: 270px;
  width: 40dvw;
  font-size: 1.2rem;
  border-radius: 8px;
}

.formulario-html {
  display: flex;
  flex-direction: column;
}

.formulario-html textarea {
  padding: 0.5rem;
  margin: 1rem 0 0.5rem 0;
  min-width: 270px;
  width: 60dvw;
  resize: vertical;
  border-radius: 8px;
}

.resultado-html {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.resultado-html figure {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 4px solid black;
  overflow: hidden;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.resultado-html figure img {
  width: 100%;
  min-height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #c8e0ff;
  }
}

@media (min-width: 768px) {

  .resultado-html {
    grid-template-columns: repeat(3, 200px);
    justify-items: center;
  }

}

@media (min-width: 1200px) {

  .resultado-html {
    grid-template-columns: repeat(5, 200px);
  }

}